body, h1, h2
{
	background-color: #013290;
	color: #eeeeec;
}

h1
{
	color: #abdc45;
	margin-bottom: 0em;
}

h2
{
	color: #abdc45;
	margin-bottom: 0em;
}

div.title-slide
{
	color: #eeeeec;
	margin-left: 60px;
	margin-right: 100px;
	text-align: left;
}

div.template-white div.title-slide
{
	color: #000;
}

pre.code, pre.xdebug-var-dump
{
	color: #000;
}

pre.xdebug-var-dump
{
	font-size: 100%;
}

p
{
	font-family: "PT Sans", Arial;
	font-size: 1.75em;
}

div.event-title p
{
	font-family: "PT Sans Caption", Arial;
	font-weight: bold;
	font-size: 220%;
	padding: 0;
}

div.event-date, div.event-presenter
{
	font-size: 100%;
}

div.footer
{
	border-top: 3px solid #3366ff;
	width: 870px;
	top: 585px;
	position: absolute;
	background-color: #013290;
	clear: both;
	padding-top: 50px;
}

pre
{
	font-size: 135%;
}

div.result pre {
	background: none;
}

div.big-centre
{
    font-size: 250%;
    text-align: center;
}

a
{
	color: #fff;
}

div.html
{
	font-size: 80%;
	color: #000;
	background-color: #fff;
	margin-left: 2em;
	margin-right: 2em;
}

div.html a
{
	color: #777;
}
