body
{ 
	background-color: white !important;
}

h1 {
	color: white !important;
	background-color: rgba( 0, 0, 0, 0.6) !important;
	text-align: center;
}

img {
	position: absolute;
	z-index: -4;
	margin: 0;
	padding: 0;
	width: 1024px;
	height: 767px;
}
