body
{ 
	background-color: black !important;
	color: white !important;
}

h1 {
	position: absolute;
	top: 75%;
	background-color: rgba( 255, 255, 255, 0.8) !important;
	width: 100%;
	text-align: center;
}

img {
	position: absolute;
	z-index: -4;
	margin: 0;
	padding: 0;
	width: 1024px;
	height: 767px;
}
